{%extends 'base.html'%}
{% block title %}
    Create a new Category
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <!--
        Print all posts doing a Loop on a List (ul) as:
        Title - Author
        Body
    -->
    <h1>Add Category</h1>
    <hr></hr>
    <!--
        In order to create a styling on the form, create a forms.py file
    -->
    <div class="form-group">
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            
            <button class="btn btn-secondary">Add Category</button>
        </form>
    </div>
{% else %}
    <h1>User not allowed</h1>
{% endif %}

{%endblock%}