{%extends 'base.html'%}
{% block title %}
    Delete Blog Post
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        <!--
            Print all posts doing a Loop on a List (ul) as:
            Title - Author
            Body
        -->
        <h1>Delete Post {{post.title}}</h1>
        <hr></hr>
        <!--
            In order to create a styling on the form, create a forms.py file
        -->
        <div class="form-group">
            <form method="POST">
                {%csrf_token%}
                <strong>Are you sure you want to delete {{post.title}} ?</strong>
                <br></br>
                <button class="btn btn-secondary">DELETE</button>
            </form>
        </div>
        {% else %}
            <h1>User not allowed</h1>
            {% endif %}
{% else %}
    <h1>User not allowed</h1>
{% endif %}

{%endblock%}