{%extends 'base.html'%}
{% block title %}
    Blog
{% endblock %}
{% block content %}

<!--
    Print all posts doing a Loop on a List (ul) as:
    Title - Author
    Body
-->
<h1>Post</h1>
<ul>
{% for post in object_list %}
<!--
    Reference to article-detail by a href = "{% url {urls name} post.pk}"
    Adding post.pk helps to move to that particular post.
-->
    <li><a href="{% url 'article_details' post.pk %}">{{post.title}}</a> <a href="{% url 'category' post.category|slugify %}">[{{post.category}}]</a>
         - {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}
        <small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}">(Edit)</a> - 
                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                {% endif %}
            {% endif %}
        </small>
    <br/>
    {{post.post_resume|safe}}</li>
{% endfor %}
</ul>

{%endblock%}