{%extends 'base.html'%}
{% block title %}
    Edit Blog Post
{% endblock %}
{% block content %}

<!--
    Print all posts doing a Loop on a List (ul) as:
    Title - Author
    Body
-->
{% if user.is_authenticated %}
    {% if user.username == comment.author.username %}
        <h1>Edit Post</h1>
        <hr></hr>
        <!--
            In order to create a styling on the form, create a forms.py file
        -->
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
        <script>
            var name="{{user.id}}";
            document.getElementById("author_field").value=name;
        </script>
        {% else %}
            <h1>User not allowed</h1>
        {% endif %}
{% else %}
    <h1>User not allowed</h1>
{% endif %}

{%endblock%}